.table-menu-scroll {
  overflow-y: scroll;
  max-height: 250px;
  max-width: 350px;
}

.converter-menu-scroll {
  overflow-y: scroll;
  max-height: 150px;
  max-width: 350px;
}

.converter-dropdown {
  width: 4.2em;
}

.loading {
  border-radius: 10px;
}

.table-list-scroll {
  max-height: 444px;
  overflow-y: scroll;
  display: block;
}

.hidden {
  display: none;
}

.card-border {
  border-color: lightblue;
}

.converter-text {
  font-size: 11px;
}

.form-error-message {
  font-size: 8.5px;
}

.horizontal-rule {
  margin-top: 0rem;
}
