.table-menu-scroll {
  overflow-y: scroll;
  max-height: 250px;
  max-width: 350px;
}

.converter-menu-scroll {
  overflow-y: scroll;
  max-height: 150px;
  max-width: 350px;
}

.converter-dropdown {
  width: 4em;
}

.loading {
  border-radius: 10px;
}

.table-list-scroll {
  max-height: 444px;
  overflow-y: scroll;
  display: block;
}

.hidden {
  display: none;
}

.lightblue-border {
  border-color: lightblue;
}

.converter-text {
  font-size: 14px;
}

.form-validation-message {
  font-size: 8.5px;
}

.horizontal-rule {
  margin-top: 0rem;
}

.converter-table {
  font-size: 12px;
  width: 100%;
}

.fluctuation-header-text {
  font-size: 13px;
}

@media screen and (max-width: 470px) {
  * {
    font-size: 12px;
  }

  #display-exchange-table-button {
    display: inline;
  }

  #result-date {
    font-size: 12px;
  }

  #converter-modal * {
    font-size: 10px;
  }

  .converter-text {
    font-size: 7px;
  }

  #exchange-table-body tr td {
    font-size: 10px;
  }

  .table-list-scroll {
    max-height: 280px;
    overflow-y: scroll;
    display: block;
  }

  .form-validation-message,
  #amount-validation-message {
    font-size: 5.5px;
  }
}
