.table-menu-scroll {
  overflow-y: scroll;
  max-height: 250px;
  max-width: 350px;
}

.converter-menu-scroll {
  overflow-y: scroll;
  max-height: 150px;
  max-width: 350px;
}

.loading {
  border-radius: 10px;
}

.table-list-scroll {
  max-height: 444px;
  overflow-y: scroll;
  display: block;
}

.hidden {
  display: none;
}

.card-border {
  border-color: lightblue;
}

.converter-text {
  font-size: 11.5px;
}
